#parent-container {
  background-color: orange;
  display:flex;
  justify-content: center;
  align-items:stretch;
  min-height:75vh;

}

#parent-container > div.container {
  border:1px solid black;
  width:50%;
  padding:30px;
  margin:30px;
  background-color:yellowgreen;

}

textarea{
  display: block;
  height:250px;
  width:100%;
}